.app {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;

  @include mobile {
    flex-direction: column;
  }
}
